<!-- src/app/header/header.component.html -->

<header>
    <div class="logo"><img class="account-img" src="assets/logo.svg" alt="Greenbase"></div>
    <form method="POST" action="#">
        <img class="form-img" src="assets/zoom.svg" alt="submit">
        <input  type="text" placeholder="Search...">
    </form>
    <div class="account-section">
        <a href="#" class="icon chat"><img src="assets/chat.svg" alt="Chat" /></a>
        <a href="#" class="icon notification"><img src="assets/bell.svg" alt="Notification" /><span class="notification">8</span></a>
        <img class="avatar" src="assets/avatar.svg">
        <span>X’eriya Ponald</span> 
        <div class="icon down"><img src="assets/down.svg" alt="Down" /></div>
    </div>
  </header>