<section id="navigation" class="principal-navegation">
  <div id="nav-button" class="icon notification" (click)="toggleClass()">
    <img class="icon" src="assets/menu.svg"> 
  </div>
  <nav>
      <ul>
        <li> <a href="#"><img class="icon" src="assets/color.svg"> <span>Dashboard</span> </a></li>
        <li> <a href="#" class="active"><img class="icon" src="assets/orders.svg"> <span>Orders</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/product.svg"> <span>Products</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/category.svg"> <span>Categories</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/users.svg"> <span>Customers</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/report.svg"> <span>Reports</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/coupon.svg"> <span>Coupons</span> </a></li>
        <li> <a href="#"><img class="icon" src="assets/chat.svg"> <span>Inbox</span> </a></li>
      </ul>
  </nav> 

  <p>Other Information</p>
  <nav>
    <ul>
      <li> <a href="#"><img class="icon" src="assets/question.svg"> <span>Knowledge Base</span> </a></li>
      <li> <a href="#"><img class="icon" src="assets/update.svg"> <span>Product Updates</span> </a></li>
    </ul>
  </nav>

  <p>Settings</p>
  <nav>
    <ul>
      <li> <a href="#"><img class="icon" src="assets/personal.svg"> <span>Personal Settings</span> </a></li>
      <li> <a href="#"><img class="icon" src="assets/global.svg"> <span>Global Settings</span> </a></li>
    </ul>
  </nav>
</section>