/* You can add global variables */

:root {
    --primary-color: #F5F6FA; 
    --secondary-color: #5A607F;
    --action-color:#1E5EFF;
    --accent-color: #A1A7C4;
    --white-color: #fff;
    --dark-color: #131523;

    --principal-title: 24px;
    --second-title: 20px;
    --big-paragraph-font: 16px;
    --paragraph-font: 12px;
    --regular-font: 14px;
}